.weather-wrap {
    border-radius: 30px;
    border-top: 1px solid #00c4cc;
    border-left: 1px solid #00c4cc;
    width: 650px;
    height: 330px;
    box-shadow: 10px 5px 5px #00c4cc;
    padding: 32px 45px;
    display: flex;
    justify-content: space-between;
}

.weather-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.weather-degrees,
.degrees {
    font-weight: 700;
    font-size: 80px;
    background: linear-gradient(#00c4cc, #015255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wind-speed,
.speed {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.weather-condition {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.wind-direction {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.weather-icon {
    max-width: 200px;
    max-height: 200px;
}

.weather-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}